@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'navbar';

$clrblack :#050505;
$clrwhite :#E6E6E6;
$clrprim : #EE7C4B;


  
  
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $clrblack;
  color:$clrwhite;

}
h1{
  font-weight: 600;
  font-size: 36px;  
  text-transform: uppercase;
  letter-spacing: 2px;

}
h3{
  font-weight: 400;
  font-size: 16px;  
  text-transform: uppercase;
  letter-spacing: 2px;
}
button{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 26px;
  border:  1px solid;
  border-radius: 8px;
}
.btn-prime{
  color: $clrprim;
  border: $clrprim 1px solid;
  
}
.hero-cont{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading-one{
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 6px;
}
.p-one{
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  width: 774px ;
}
.main{
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua;   */
}
.hero-cont{
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}